.free-shipping {
  background-color: $black;
}
.first_str {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 400;
  span {
    font-weight: 900;
    color: white;
    font-weight: 700;
  }
}
.second_str {
  padding-bottom: 70px;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .first_str {
    padding-top: 45px;
    padding-bottom: 15px;
    font-size: 18px;
  }
  .second_str {
    padding-bottom: 35px;
    text-align: center;
    font-size: 15px;
  }
}
