.header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  padding-top: 50px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav_item {
  font-weight: 500;
  font-size: 14px;
}
.header__nav_item:not(:last-child) {
  margin-right: 35px;
}

.header__basket_img:not(:last-child) {
  margin-right: 15px;
}
.mobile__menu {
  display: none;
}
.mobile__menu .line1 {
  width: 26px;
  height: 3px;
  background-color: $accent;
  margin-bottom: 7px;
}

.mobile__menu .line2 {
  width: 18px;
  height: 3px;
  background-color: $accent;
  margin-bottom: 7px;
}

.mobile__menu .line3 {
  width: 10px;
  height: 3px;
  background-color: $accent;
}
.mobile__menu_active {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding-top: 50px;
  background-color: $accent;
  width: 155px;
  height: 175px;
  .active_item {
    margin-bottom: 5px;
  }
  .active_item:nth-child(6) {
    display: none;
  }
  .active_item:nth-child(5) {
    display: none;
  }
}
.show {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    object-fit: contain;
    width: 25%;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .header__nav_item:not(:last-child) {
    margin-right: 20px;
  }
  .header__nav_item:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .header__nav_item:nth-child(1) {
    display: none;
  }
  .header__nav_item:nth-child(2) {
    display: none;
  }
  .header__nav_item:nth-child(3) {
    display: none;
  }
  .mobile__menu {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav_item {
    display: none;
  }
  .active_item:nth-child(6) {
    display: block !important;
  }
  .active_item:nth-child(5) {
    display: block !important;
  }
}
